body {
    background-color: #f8f9fa;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 0.375rem; /* Bootstrap's default border radius */
    border: 1px solid #dee2e6;
}

.navbar-brand img {
    margin-right: 10px;
    filter: invert(1); /* Makes the black icon white */
}

.card {
    border: none;
}

#why {
    padding: 50px 20px;
    margin-top: 20px;
    background-color: #e0f2f7; /* 淡藍色背景 */
    text-align: center; /* 置中內容 */
}

#why h3 {
    opacity: 0; /* 初始隱藏 */
    transition: opacity 1s ease-in-out; /* 淡入動畫 */
}

#why h3.visible {
    opacity: 1; /* 顯示 */
}